@page
@model ErrorModel
@{
    ViewData["Title"] = "Calculation Failed";
}

<h1>Calculation Failed</h1>

@if (Model.Errors != null)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Errors</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model.Errors)
            {
                <tr>
                    <td>@e</td>
                </tr>
            }
        </tbody>
    </table>
}
