@page
@model IndexModel
@{
    ViewData["Title"] = "Calculate Your IP Fees";
}

<h1 class="display-4">Calculate Your IP Fees</h1>

<div class="row mt-5">
    <!-- Column #1 -->
    <div class="col-7">
        @if (Model.Jurisdictions.Any())
        {
            <form method="post">
                <div class="row mb-4">
                    <h2>Select <small class="text-muted">Jurisdictions</small></h2>
                    <!-- Jurisdictions -->
                    <div class="mb-3 col-12">
                        <label for="@Model.SelectedJurisdictions" class="form-label">Select one or more jurisdictions to calculate fees for.</label>
                        <select size="10" multiple class="form-select form-select-lg mb-3" asp-for="@Model.SelectedJurisdictions" asp-items="Model.SelectedJurisdictionItems" required>
                        </select>
                        <div class="text-muted">@Model.Jurisdictions.Count() items.</div>
                    </div>
                </div>
                <h2>Select <small class="text-muted">currency</small></h2>
                <!-- Currency -->
                <div class="row mt-2">
                    <div class="col-12">
                        <div class="col-6">
                            <select class="form-select form-select-lg mb-3" asp-for="@Model.TargetCurrency" asp-items="Model.CurrencyItems" required>
                            </select>                            
                        </div>
                        <div class="mb-3 col-12">
                            <div class="text-muted">The calculated fees will be displayed in the currency selected here.</div>
                        </div>
                    </div>
                </div>
                @if (Model.CurrencyExchangeRatesAvailable)
                {
                    <div class="row mt-2">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Next Step - Select Parameters</button>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row mt-2">
                        <div class="col-12">
                            <div class="alert alert-danger" role="alert">
                                Currency exchange rates are not currently available therefore we are unable to compute the fees. Please check back later.
                            </div>
                        </div>
                    </div>
                }
            </form>
        }
        else
        {
            <h6>There are no jurisdictions defined in the system. Please contact the administrator.</h6>
        }
    </div>
    <!-- Column #2 -->
    <div class="col-5">
        <img src="~/images/businesswoman.jpg" class="img-fluid" />
    </div>
</div>
