@page
@model IndexModel
@{
    ViewData["Title"] = "Settings";
}

<h1>Settings <small class="text-muted">Page</small></h1>

<div class="row">
    <div class="col-lg-6">
        <h2>Module Category Weights</h2>
        @if (Model.ModuleCategories.Any())
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Weight</th>                        
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var mi in Model.ModuleCategories)
                    {
                        <tr>
                            <td>@mi.Category</td>
                            <td>@mi.Weight</td>                            
                            <td><a asp-page="Edit" asp-route-id="@mi.Category">Edit</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <h6>@Model.ModuleCategories.Count() module categories.</h6>
        }
        else
        {
            <h6>Categories assigned to modules appear here.</h6>
        }
    </div>
</div>