@page
@model AdminModel
@{
    ViewData["Title"] = "IPFees Backstage Area";
}

<div class="text-center">
    <h1 class="display-4">IPFees Backstage Area</h1>
    <div class="alert alert-info mt-3" role="alert">
        The database is automatically restored every six hours. Feel free to explore, test, and modify the data.
    </div>
</div>

<div class="row mt-4 row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="~/images/flags.jpg" class="card-img-top" alt="Flags">
            <div class="card-body">
                <h5 class="card-title">Jurisdictions</h5>
                <p class="card-text">The system is able to process fees for the @Model.JurisdictionCount jurisdictions registered with the system.</p>
                <a asp-area="Jurisdiction" asp-page="Index" class="btn btn-outline-secondary">See Jurisdictions</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <img src="~/images/money.jpg" class="card-img-top" alt="Money">
            <div class="card-body">
                <h5 class="card-title">Intellectual Property Fees</h5>
                <p class="card-text">There are @Model.FeeCount intellectual property related fees registered with the system.</p>
                <a asp-area="Fee" asp-page="Index" class="btn btn-outline-secondary">See Fees</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <img src="~/images/services.jpg" class="card-img-top" alt="Services">
            <div class="card-body">
                <h5 class="card-title">Service Fees</h5>
                <p class="card-text">Service fees depend on the complexity of the jurisdiction.</p>
                <a asp-area="Settings" asp-page="Index" class="btn btn-outline-secondary">See Service Fees</a>
            </div>
        </div>
    </div>
    
    <div class="col">
        <div class="card h-100">
            <img src="~/images/exchange.jpg" class="card-img-top" alt="Exchange">
            <div class="card-body">
                <h5 class="card-title">Supports Any Currency</h5>
                <p class="card-text">The system supports any currency, even the most exotic ones. The exchange rates are fetched from the Central European Bank as well as other sources.</p>
                <a asp-area="Currency" asp-page="Index" class="btn btn-outline-secondary">See Currencies</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <img src="~/images/programming.jpg" class="card-img-top" alt="Programming">
            <div class="card-body">
                <h5 class="card-title">Modularized Inputs</h5>
                <p class="card-text">To reduce the complexity of fee computation, data inputs are currently stored in @Model.ModuleCount separate modules.</p>
                <a asp-area="Module" asp-page="Index" class="btn btn-outline-secondary">See Modules</a>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">Language Design</h1>
</div>

<div class="row mt-4 row-cols-1 row-cols-md-3 g-4">  
    <div class="col">
        <div class="card h-100">
            <img src="~/images/reference.jpg" class="card-img-top" alt="Reference">
            <div class="card-body">
                <h5 class="card-title">IPFLang Reference</h5>
                <p class="card-text">Fees are computed using a domain-specific programming language.</p>
                <a asp-page="Reference" class="btn btn-outline-secondary">See Reference</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <img src="~/images/grammar.jpg" class="card-img-top" alt="Formal Grammar">
            <div class="card-body">
                <h5 class="card-title">IPFLang Formal Grammar</h5>
                <p class="card-text">IPFLang Formal Grammar in BNF.</p>
                <a asp-page="Grammar" class="btn btn-outline-secondary">See Formal Grammar</a>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">IPFees API</h1>
</div>

<div class="row mt-4 row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="~/images/api.jpg" class="card-img-top" alt="API">
            <div class="card-body">
                <h5 class="card-title">IPFees API</h5>
                <p class="card-text">The IPFees system is accessible via a simple API.</p>
                <a href="swagger/index.html" class="btn btn-outline-secondary">See API</a>
            </div>
        </div>
    </div>    
</div>