@page
@model ReferenceModel
@{
    ViewData["Title"] = "IPFLang Formal Grammar in BNF";
}
<h1>IPFLang Formal Grammar in BNF</h1>
<h2>A Domain-Specific Language for Modern IP Fees Calculation</h2>

<div class="card mb-3" style="width: 48rem;">
    <div class="card-body">
        <h5 class="card-title">Program Structure</h5>        
        <pre><code>
&lt;program&gt; ::= &lt;statement_list&gt;

&lt;statement_list&gt; ::= &lt;statement&gt; | &lt;statement&gt; &lt;statement_list&gt;

&lt;statement&gt; ::= &lt;input_definition&gt; | &lt;fee_definition&gt; | &lt;group_definition&gt; | &lt;return_statement&gt;
    </code></pre>
    </div>
</div>

<div class="card mb-3" style="width: 48rem;">
    <div class="card-body">
        <h5 class="card-title">Input Definitions</h5>
<pre><code>
&lt;input_definition&gt; ::= &lt;list_definition&gt; | &lt;multilist_definition&gt; | &lt;number_definition&gt; | &lt;boolean_definition&gt; | &lt;date_definition&gt;

&lt;list_definition&gt; ::= "DEFINE" "LIST" &lt;identifier&gt; "AS" &lt;string_literal&gt; &lt;group_clause&gt;? &lt;choice_list&gt; "DEFAULT" &lt;identifier&gt; "ENDDEFINE"

&lt;multilist_definition&gt; ::= "DEFINE" "MULTILIST" &lt;identifier&gt; "AS" &lt;string_literal&gt; &lt;group_clause&gt;? &lt;choice_list&gt; "DEFAULT" &lt;identifier_list&gt; "ENDDEFINE"

&lt;number_definition&gt; ::= "DEFINE" "NUMBER" &lt;identifier&gt; "AS" &lt;string_literal&gt; &lt;group_clause&gt;? "BETWEEN" &lt;number&gt; "AND" &lt;number&gt; "DEFAULT" &lt;number&gt; "ENDDEFINE"

&lt;boolean_definition&gt; ::= "DEFINE" "BOOLEAN" &lt;identifier&gt; "AS" &lt;string_literal&gt; &lt;group_clause&gt;? "DEFAULT" &lt;boolean_value&gt; "ENDDEFINE"

&lt;date_definition&gt; ::= "DEFINE" "DATE" &lt;identifier&gt; "AS" &lt;string_literal&gt; &lt;group_clause&gt;? "BETWEEN" &lt;date_literal&gt; "AND" &lt;date_literal&gt; "DEFAULT" &lt;date_literal&gt; "ENDDEFINE"

&lt;group_clause&gt; ::= "GROUP" &lt;identifier&gt;

&lt;choice_list&gt; ::= &lt;choice&gt; | &lt;choice&gt; &lt;choice_list&gt;

&lt;choice&gt; ::= "CHOICE" &lt;identifier&gt; "AS" &lt;string_literal&gt;

&lt;identifier_list&gt; ::= &lt;identifier&gt; | &lt;identifier&gt; "," &lt;identifier_list&gt;
    </code></pre>
    </div>
</div>

<div class="card mb-3" style="width: 48rem;">
    <div class="card-body">
        <h5 class="card-title">Group Definition</h5>
<pre><code>
&lt;group_definition&gt; ::= "DEFINE" "GROUP" &lt;identifier&gt; "AS" &lt;string_literal&gt; "WITH" "WEIGHT" &lt;number&gt;
    </code></pre>
    </div>
</div>

<div class="card mb-3" style="width: 48rem;">
    <div class="card-body">
        <h5 class="card-title">Fee Definition</h5>
<pre><code>
&lt;fee_definition&gt; ::= "COMPUTE" "FEE" &lt;identifier&gt; &lt;optional_clause&gt;? &lt;fee_body&gt; "ENDCOMPUTE"

&lt;optional_clause&gt; ::= "OPTIONAL"

&lt;fee_body&gt; ::= &lt;fee_statement_list&gt;

&lt;fee_statement_list&gt; ::= &lt;fee_statement&gt; | &lt;fee_statement&gt; &lt;fee_statement_list&gt;

&lt;fee_statement&gt; ::= &lt;yield_statement&gt; | &lt;case_statement&gt; | &lt;let_statement&gt;

&lt;yield_statement&gt; ::= "YIELD" &lt;expression&gt; &lt;condition_clause&gt;?

&lt;case_statement&gt; ::= "CASE" &lt;condition&gt; "AS" &lt;yield_statement_list&gt; "ENDCASE"

&lt;let_statement&gt; ::= "LET" &lt;identifier&gt; "AS" &lt;expression&gt;

&lt;yield_statement_list&gt; ::= &lt;yield_statement&gt; | &lt;yield_statement&gt; &lt;yield_statement_list&gt;
    </code></pre>
    </div>
</div>

<div class="card mb-3" style="width: 48rem;">
    <div class="card-body">
        <h5 class="card-title">Conditions and Expressions</h5>
<pre><code>
&lt;condition_clause&gt; ::= "IF" &lt;condition&gt;

&lt;condition&gt; ::= &lt;comparison&gt; | &lt;inclusion_test&gt; | &lt;logical_expression&gt;

&lt;comparison&gt; ::= &lt;expression&gt; &lt;comparison_op&gt; &lt;expression&gt;

&lt;inclusion_test&gt; ::= &lt;identifier&gt; &lt;inclusion_op&gt; &lt;identifier&gt;

&lt;logical_expression&gt; ::= &lt;condition&gt; &lt;logical_op&gt; &lt;condition&gt; | "(" &lt;condition&gt; ")"

&lt;comparison_op&gt; ::= "EQ" | "NEQ" | "LT" | "LTE" | "GT" | "GTE"

&lt;inclusion_op&gt; ::= "IN" | "NIN"

&lt;logical_op&gt; ::= "AND" | "OR"
    </code></pre>
    </div>
</div>

<div class="card mb-3" style="width: 48rem;">
    <div class="card-body">
        <h5 class="card-title">Expressions</h5>
<pre><code>
&lt;expression&gt; ::= &lt;term&gt; | &lt;expression&gt; &lt;binary_op&gt; &lt;term&gt;

&lt;term&gt; ::= &lt;factor&gt; | &lt;term&gt; &lt;multiply_op&gt; &lt;factor&gt;

&lt;factor&gt; ::= &lt;number&gt; | &lt;identifier&gt; | &lt;property_access&gt; | &lt;function_call&gt; | "(" &lt;expression&gt; ")"

&lt;property_access&gt; ::= &lt;identifier&gt; "!" &lt;property_name&gt;

&lt;property_name&gt; ::= "COUNT" | "YEARSTONOW" | "MONTHSTONOW" | "MONTHSTONOW_FROMLASTDAY" | "DAYSTONOW"

&lt;function_call&gt; ::= &lt;function_name&gt; "(" &lt;expression&gt; ")"

&lt;function_name&gt; ::= "FLOOR" | "ROUND" | "CEIL"

&lt;binary_op&gt; ::= "+" | "-"

&lt;multiply_op&gt; ::= "*" | "/"
    </code></pre>
    </div>
</div>

<div class="card mb-3" style="width: 48rem;">
    <div class="card-body">
        <h5 class="card-title">Return Statement</h5>
<pre><code>
&lt;return_statement&gt; ::= "RETURN" &lt;identifier&gt; "AS" &lt;string_literal&gt;
    </code></pre>
    </div>
</div>

<div class="card mb-3" style="width: 48rem;">
    <div class="card-body">
        <h5 class="card-title">Literals and Identifiers</h5>
<pre><code>
&lt;identifier&gt; ::= &lt;letter&gt; | &lt;identifier&gt; &lt;letter&gt; | &lt;identifier&gt; &lt;digit&gt;

&lt;string_literal&gt; ::= "'" &lt;string_content&gt; "'"

&lt;string_content&gt; ::= &lt;char&gt; | &lt;char&gt; &lt;string_content&gt;

&lt;number&gt; ::= &lt;integer&gt; | &lt;float&gt;

&lt;integer&gt; ::= &lt;digit&gt; | &lt;integer&gt; &lt;digit&gt;

&lt;float&gt; ::= &lt;integer&gt; "." &lt;integer&gt;

&lt;date_literal&gt; ::= &lt;day&gt; "." &lt;month&gt; "." &lt;year&gt; | "TODAY"

&lt;day&gt; ::= &lt;digit&gt; &lt;digit&gt;

&lt;month&gt; ::= &lt;digit&gt; &lt;digit&gt;

&lt;year&gt; ::= &lt;digit&gt; &lt;digit&gt; &lt;digit&gt; &lt;digit&gt;

&lt;boolean_value&gt; ::= "TRUE" | "FALSE"
    </code></pre>
    </div>
</div>

<div class="card mb-3" style="width: 48rem;">
    <div class="card-body">
        <h5 class="card-title">Basic Tokens</h5>
        <pre><code>
&lt;letter&gt; ::= "A" | "B" | "C" | "D" | "E" | "F" | "G" | "H" | "I" | "J" | "K" | "L" | "M" | "N" | "O" | "P" | "Q" | "R" | "S" | "T" | "U" | "V" | "W" | "X" | "Y" | "Z" | "a" | "b" | "c" | "d" | "e" | "f" | "g" | "h" | "i" | "j" | "k" | "l" | "m" | "n" | "o" | "p" | "q" | "r" | "s" | "t" | "u" | "v" | "w" | "x" | "y" | "z"

&lt;digit&gt; ::= "0" | "1" | "2" | "3" | "4" | "5" | "6" | "7" | "8" | "9"

&lt;char&gt; ::= &lt;letter&gt; | &lt;digit&gt; | " " | "!" | "@@" | "#" | "$" | "%" | "^" | "&" | "*" | "(" | ")" | "-" | "_" | "=" | "+" | "[" | "]" | "{" | "}" | "|" | "\" | ":" | ";" | "&lt;" | "&gt;" | "?" | "," | "." | "/" | "`" | "~"
    </code></pre>
    </div>
</div>
