@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to IPFees</h1>
    <p>Modern intellectual property fees calculation</p>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="~/images/compute.jpg" class="card-img-top" alt="Compute">
            <div class="card-body">
                <h5 class="card-title">Fee Calculation</h5>
                <p class="card-text">Intellectual property fees are difficult to calculate. Here comes IPFees.</p>
                <a asp-area="Run" asp-page="Index" class="btn btn-primary">Calculate Your Fees</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <img src="~/images/flags.jpg" class="card-img-top" alt="Flags">
            <div class="card-body">
                <h5 class="card-title">Jurisdictions</h5>
                <p class="card-text">The system is able to process fees for the @Model.JurisdictionCount jurisdictions registered with the system.</p>
                <a asp-area="Jurisdiction" asp-page="Index" class="btn btn-outline-secondary">See Jurisdictions</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <img src="~/images/money.jpg" class="card-img-top" alt="Money">
            <div class="card-body">
                <h5 class="card-title">Intellectual Property Fees</h5>
                <p class="card-text">There are @Model.FeeCount intellectual property related fees registered with the system.</p>
                <a asp-area="Fee" asp-page="Index" class="btn btn-outline-secondary">See Fees</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <img src="~/images/services.jpg" class="card-img-top" alt="Services">
            <div class="card-body">
                <h5 class="card-title">Service Fees</h5>
                <p class="card-text">Service fees depend on the complexity of the jurisction.</p>
                <a asp-area="Settings" asp-page="Index" class="btn btn-outline-secondary">See Service Fees</a>
            </div>
        </div>
    </div>
    
    <div class="col">
        <div class="card h-100">
            <img src="~/images/exchange.jpg" class="card-img-top" alt="Exchange">
            <div class="card-body">
                <h5 class="card-title">Supports Any Currency</h5>
                <p class="card-text">The system supports any currency, even the most exotic ones. The exchange rates are fetched from the Central European Bank as well as other sources.</p>                
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <img src="~/images/programming.jpg" class="card-img-top" alt="Programming">
            <div class="card-body">
                <h5 class="card-title">Modularized Inputs</h5>
                <p class="card-text">To reduce the complexity of fee computation, data inputs are currently stored in @Model.ModuleCount separate modules.</p>
                <a asp-area="Module" asp-page="Index" class="btn btn-outline-secondary">See Modules</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <img src="~/images/reference.jpg" class="card-img-top" alt="Reference">
            <div class="card-body">
                <h5 class="card-title">IPFees Reference</h5>
                <p class="card-text">Fees are computed using a domain-specific programming language.</p>
                <a asp-page="Reference" class="btn btn-outline-secondary">See Reference</a>
            </div>
        </div>
    </div>
</div>