@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to IPFees</h1>
    <p>Modern intellectual property fees calculation</p>
</div>

<form method="post">
    <button type="submit" class="btn btn-primary">Execute Code</button>
    <div class="my-3">
        <textarea asp-for="Code" class="form-control" rows="20"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Execute Code</button>
</form>



@if (Model.ParseErrors != null)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Errors</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model.ParseErrors)
            {
                <tr>
                    <td>@e</td>
                </tr>
            }
        </tbody>
    </table>
}