@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form method="post">
    <div class="form-group">
        <label asp-for="Code">Example textarea</label>
        <textarea asp-for="Code" class="form-control" rows="10"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Execute</button>
</form>

@if (Model.ParseErrors != null)
{
    <table class="table">
        <thead>
            <tr>                
                <th scope="col">Errors</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model.ParseErrors)
            {
                <tr>                    
                    <td>@e</td>
                </tr>
            }
        </tbody>
    </table>
}