@page
@model ReferenceModel
@{
    ViewData["Title"] = "IPFLange Reference";
}
<h1>IPFLang - A Domain-Specific Language for Modern IP Fees Calculation</h1>
<h2>Reference</h2>

<div class="card mb-3" style="width: 48rem;">
    <div class="card-body">
        <h5 class="card-title">Overview</h5>
        <h6 class="card-subtitle mb-2 text-muted">
            Inputs and Fees
        </h6>
        <p class="card-text">
            The process of describing IP fees in IPFLang consists of determining what the inputs are and how the fee is composed off small amounts that accrue based on rules.<br/>
            There are three types of inputs available:
        </p>
        <ul>
            <li>String list with individual choices</li>
            <li>Number (floating point), with lower and upper bounds as well as a default value</li>
            <li>Boolean (for yes/no types of responses)</li>
        </ul>
        <p>
            Inputs are presented as HTML controls that the user fill in and upon form submission, the values are used to compute the fee. The system displays the full list of steps taken to reach the result, to aid debugging.
        </p>
    </div>
</div>


<div class="card mb-3" style="width: 48rem;">
    <div class="card-body">
        <h5 class="card-title">Multiple-Choice Input</h5>
        <h6 class="card-subtitle mb-2 text-muted">Multiple-choice input displays a list of string choices and allows the user to select one of those. A default choice can be specified.</h6>
        <p class="card-text">
            DEFINE LIST EntityType AS 'Select the desired entity type'<br />
            CHOICE NormalEntity AS 'Normal'<br />
            CHOICE SmallEntity AS 'Small'<br />
            CHOICE MicroEntity AS 'Micro'<br />
            DEFAULT NormalEntity<br />
            ENDDEFINE
        </p>
    </div>
</div>

<div class="card mb-3" style="width: 48rem;">
    <div class="card-body">
        <h5 class="card-title">Number Input</h5>
        <h6 class="card-subtitle mb-2 text-muted">Number inputs allow entering a numeric value (floating point), bounded by lower and upper limits. A default value can be specified.</h6>
        <p class="card-text">
            DEFINE NUMBER SheetCount AS 'Enter the number of sheets'<br />
            BETWEEN 10 AND 1000<br />
            DEFAULT 15<br />
            ENDDEFINE
        </p>
    </div>
</div>

<div class="card mb-3" style="width: 48rem;">
    <div class="card-body">
        <h5 class="card-title">Boolean Input</h5>
        <h6 class="card-subtitle mb-2 text-muted">Boolean inputs allow selecting a condition. The default selection can be specified.</h6>
        <p class="card-text">
            DEFINE BOOLEAN ContainsDependentClaims AS 'Does this contain  dependent claims?'<br />
            DEFAULT TRUE<br />
            ENDDEFINE
        </p>
    </div>
</div>

<div class="card mb-3" style="width: 48rem;">
    <div class="card-body">
        <h5 class="card-title">Fee Definition</h5>
        <h6 class="card-subtitle mb-2 text-muted">Any number of fees can be created and they all account towards the grand total. In it's simplest form, a fee yields a singe value with no condition.</h6>
        <p class="card-text">
            COMPUTE FEE SimplestFee<br />
            YIELD 150<br/>
            ENDCOMPUTE
        </p>
    </div>
</div>

<div class="card mb-3" style="width: 48rem;">
    <div class="card-body">
        <h5 class="card-title">Optional Fees</h5>
        <h6 class="card-subtitle mb-2 text-muted">Fees can be declared as optional. Option fees still account towards the grand total, but they are marked as such in the final result.</h6>
        <p class="card-text">
            COMPUTE FEE SimplestOptionalFee OPTIONAL<br />
            YIELD 150<br/>
            ENDCOMPUTE
        </p>
    </div>
</div>

<div class="card mb-3" style="width: 48rem;">
    <div class="card-body">
        <h5 class="card-title">Conditional Fees</h5>
        <h6 class="card-subtitle mb-2 text-muted">Conditions can be added to each YIELD branch. In this case, BasicNationalFee gets calculated according to the user selection in the EntityType input.</h6>
        <p>The following operators are currently supported: EQUALS, NOTEQUALS, ABOVE, UNDER, AND. Note: Soon the list of operators will change, with enhanced support for parentheses.</p>
        <p class="card-text">
            COMPUTE FEE BasicNationalFee<br />
            YIELD 320 IF EntityType EQUALS NormalEntity<br />
            YIELD 128 IF EntityType EQUALS SmallEntity<br />
            YIELD 64 IF EntityType EQUALS MicroEntity<br />
            ENDCOMPUTE
        </p>
    </div>
</div>

<div class="card mb-3" style="width: 48rem;">
    <div class="card-body">
        <h5 class="card-title">Conditional Fees (More Complex)</h5>
        <h6 class="card-subtitle mb-2 text-muted">For more complex scenarios, the CASE clause can be used. In this particular care, certain amounts are added function of the SituationType input. YIELD statements outside the CASE are evaluated normally.</h6>
        <p class="card-text">
            COMPUTE FEE ExaminationFee<br />
            CASE SituationType EQUALS PreparedIPEA AS<br />
            YIELD 20 IF EntityType EQUALS NormalEntity<br />
            YIELD 40 IF EntityType EQUALS SmallEntity<br />
            YIELD 60 IF EntityType EQUALS MicroEntity<br />
            ENDCASE<br />
            YIELD 800 IF EntityType EQUALS NormalEntity<br />
            YIELD 360 IF EntityType EQUALS SmallEntity<br />
            YIELD 160 IF EntityType EQUALS MicroEntity<br />
            ENDCOMPUTE
        </p>
    </div>
</div>

<div class="card mb-3" style="width: 48rem;">
    <div class="card-body">
        <h5 class="card-title">Complex Amounts</h5>
        <h6 class="card-subtitle mb-2 text-muted">The YIELDed amount can be computed using a complex formula. If rounding is needed, one of the usual rounding functions can be used (see below).</h6>
        <p class="card-text">
            COMPUTE FEE SheetFee<br />
            YIELD 420*((SheetCount-100)/50) IF SheetCount ABOVE 100 AND EntityType EQUALS NormalEntity<br />
            YIELD 168*((SheetCount-100)/50) IF SheetCount ABOVE 100 AND EntityType EQUALS SmallEntity<br />
            YIELD 84*((SheetCount-100)/50) IF SheetCount ABOVE 100 AND EntityType EQUALS MicroEntity<br />
            ENDCOMPUTE
        </p>
    </div>
</div>

<div class="card mb-3" style="width: 48rem;">
    <div class="card-body">
        <h5 class="card-title">Number Rounding Functions</h5>
        <h6 class="card-subtitle mb-2 text-muted">Rounding is accomplished using FLOOR, ROUND, CEIL functions.</h6>
        <p class="card-text">
            <ul>
                <li>FLOOR - strips off the decimal part, e.g. 4.7 -> 4</li>
                <li>ROUND - rounds to the nearest integer, e.g. 4.7 -> 5 and 4.3 -> 4</li>
                <li>CEIL - rounds to the largest integer, e.g. 4.3 -> 5</li>
            </ul>
            COMPUTE FEE SheetFee<br />
            YIELD ROUND(420*((SheetCount-100)/50)) IF SheetCount ABOVE 100 AND EntityType EQUALS NormalEntity<br />
            YIELD FLOOR(168*((SheetCount-100)/50)) IF SheetCount ABOVE 100 AND EntityType EQUALS SmallEntity<br />
            YIELD CEIL(84*((SheetCount-100)/50)) IF SheetCount ABOVE 100 AND EntityType EQUALS MicroEntity<br />
            ENDCOMPUTE
        </p>
    </div>
</div>

<div class="card mb-3" style="width: 48rem;">
    <div class="card-body">
        <h5 class="card-title">Fee Local Variables</h5>
        <h6 class="card-subtitle mb-2 text-muted">Local variables can be defined inside the scope of a fee. This is to enhance readability and simplify fee computation.</h6>
        <p class="card-text">
            COMPUTE FEE SheetFee<br />
            LET A AS 20<br/>
            LET B AS 40<br/>
            YIELD A*200+B<br />
            ENDCOMPUTE
        </p>
    </div>
</div>

<div class="card mb-3" style="width: 48rem;">
    <div class="card-body">
        <h5 class="card-title">Full Example</h5>
        <h6 class="card-subtitle mb-2 text-muted">Use this as a starting point to your own fee computation.</h6>
        <p class="card-text">
            DEFINE LIST EntityType AS 'Select the desired entity type'<br />
            CHOICE 'Normal' AS NormalEntity<br />
            CHOICE 'Small' AS SmallEntity<br />
            CHOICE 'Micro' AS MicroEntity<br />
            DEFAULT NormalEntity<br />
            ENDDEFINE<br />
            <br />
            DEFINE LIST SituationType AS 'Situation type'<br />
            CHOICE 'IRRP (Chapter II) prepared by the IPEA/US' AS PreparedIPEA<br />
            CHOICE 'International search fee paid as ISA' AS PaidAsISA<br />
            CHOICE 'Search report prepared by an ISA other than the US' AS PreparedISA<br />
            CHOICE 'All other situations' AS AllOtherSituations<br />
            DEFAULT PreparedIPEA<br />
            ENDDEFINE<br />
            <br />
            DEFINE NUMBER SheetCount AS 'Enter the number of sheets'<br />
            BETWEEN 10 AND 1000<br />
            DEFAULT 15<br />
            ENDDEFINE<br />
            <br />
            DEFINE NUMBER ClaimCount AS 'Number of claims'<br />
            BETWEEN 0 AND 1000<br />
            DEFAULT 0<br />
            ENDDEFINE<br />
            <br />
            DEFINE BOOLEAN ContainsDependentClaims AS 'Does this contain dependent claims?'<br />
            DEFAULT TRUE<br />
            ENDDEFINE<br />
            <br />
            COMPUTE FEE BasicNationalFee<br />
            YIELD 320 IF EntityType EQUALS NormalEntity<br />
            YIELD 128 IF EntityType EQUALS SmallEntity<br />
            YIELD 64 IF EntityType EQUALS MicroEntity<br />
            ENDCOMPUTE<br />
            <br />
            COMPUTE FEE SearchFee<br />
            CASE SituationType EQUALS PreparedIPEA AS<br />
            YIELD 0 IF EntityType EQUALS NormalEntity<br />
            YIELD 0 IF EntityType EQUALS SmallEntity<br />
            YIELD 0 IF EntityType EQUALS MicroEntity<br />
            ENDCASE<br />
            CASE SituationType EQUALS PaidAsISA AS<br />
            YIELD 140 IF EntityType EQUALS NormalEntity<br />
            YIELD 56 IF EntityType EQUALS SmallEntity<br />
            YIELD 28 IF EntityType EQUALS MicroEntity<br />
            ENDCASE<br />
            CASE SituationType EQUALS PreparedISA AS<br />
            YIELD 540 IF EntityType EQUALS NormalEntity<br />
            YIELD 216 IF EntityType EQUALS SmallEntity<br />
            YIELD 108 IF EntityType EQUALS MicroEntity<br />
            ENDCASE<br />
            YIELD 700 IF EntityType EQUALS NormalEntity<br />
            YIELD 280 IF EntityType EQUALS SmallEntity<br />
            YIELD 140 IF EntityType EQUALS MicroEntity<br />
            ENDCOMPUTE<br />
            <br />
            COMPUTE FEE ExaminationFee<br />
            CASE SituationType EQUALS PreparedIPEA AS<br />
            YIELD 0 IF EntityType EQUALS NormalEntity<br />
            YIELD 0 IF EntityType EQUALS SmallEntity<br />
            YIELD 0 IF EntityType EQUALS MicroEntity<br />
            ENDCASE<br />
            YIELD 800 IF EntityType EQUALS NormalEntity<br />
            YIELD 360 IF EntityType EQUALS SmallEntity<br />
            YIELD 160 IF EntityType EQUALS MicroEntity<br />
            ENDCOMPUTE<br />
            <br />
            COMPUTE FEE SheetFee<br />
            LET A AS 420<br/>
            LET B AS 420<br />
            LET C AS 420<br />
            YIELD ROUND(A*((SheetCount-100)/50)) IF SheetCount ABOVE 100 AND EntityType EQUALS NormalEntity<br />
            YIELD ROUND(B*((SheetCount-100)/50)) IF SheetCount ABOVE 100 AND EntityType EQUALS SmallEntity<br />
            YIELD ROUND(C*((SheetCount-100)/50)) IF SheetCount ABOVE 100 AND EntityType EQUALS MicroEntity<br />
            ENDCOMPUTE<br />
            <br />
            COMPUTE FEE ClaimFee<br />
            YIELD (480*ClaimCount) IF ClaimCount ABOVE 3 AND EntityType EQUALS NormalEntity<br />
            YIELD (192*ClaimCount) IF ClaimCount ABOVE 3 AND EntityType EQUALS SmallEntity<br />
            YIELD (96*ClaimCount) IF ClaimCount ABOVE 3 AND EntityType EQUALS MicroEntity<br />
            ENDCOMPUTE
        </p>
    </div>
</div>
