@page
@model ResultModel
@{
    ViewData["Title"] = "Calculation Result";
}

<h1>Result: @Model.TotalAmount</h1>

@if (!string.IsNullOrEmpty(Model.ComputationError))
{
    <div class="alert alert-danger" role="alert">
        @Model.ComputationError
    </div>
}

@if (Model.ComputationSteps != null)
{
    var i = 1;
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Computation Steps</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model.ComputationSteps)
            {
                <tr>
                    <td>@i</td>
                    <td>@e</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
}