@page "{id}"
@model DeleteModel
@{
    ViewData["Title"] = "Delete Jurisdiction";
}

<h1>Delete Module</h1>
<p>Are you sure you want to delete jurisdiction @Model.Name?</p>
<div class="row">
    <div class="col-lg-6">
        <form method="post">
            <input type="hidden" asp-for="Name" />

            <button type="submit" class="btn btn-danger">Delete</button>
            <a asp-page="./Index" class="btn btn-secondary">Cancel</a>
        </form>

    </div>
</div>