<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/SplitScreen">Split Screen</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Fee" asp-page="/Index">Fees</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Module" asp-page="/Index">Modules</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Jurisdiction" asp-page="/Index">Jurisdictions</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Run" asp-page="/Index">User View</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Settings" asp-page="/Index">Settings</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/Reference">Reference</a>
</li>