@page "{id}"
@model IPFees.Web.Pages.Module.EditModel
@{
    ViewData["Title"] = "Edit Module";
}

<h1>Edit Module</h1>
<p>Edit module @Model.Name</p>
<div class="row">
    <div class="col-lg-6">
        @if (Model.ErrorMessages.Any())
        {
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                <div>
                    @foreach(var em in Model.ErrorMessages)
                    {
                        <text>@em</text><br/>
                    }                    
                </div>
            </div>
        }
        <form method="post">
            <input asp-for="@Model.Name" type="hidden" />
            <div class="mb-3">
                <label for="Description" class="form-label">Description</label>
                <input asp-for="Description" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="@Model.SourceCode" class="form-label">Source Code</label>
                <textarea asp-for="SourceCode" class="form-control" rows="20" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Edit</button>
            <a asp-page="./Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>

<partial name="_Symbols" />